<% if curation_concern.persisted? && curation_concern.members.present? %>
  <div class="row with-headroom">
    <div class="col-md-12">
      <fieldset id="representative-image">
        <legend> Assign a TEI </legend>
        <p>Select the transcript of this <%= curation_concern.human_readable_type %>.</p>
        <%= f.select(:tei_id, tei_select_options(curation_concern), {}, { class: 'form-control' } ) %>
      </fieldset>
    </div>
  </div>
<% end %>

