<% if presenter.file_presenters.present? %>
<div class="panel panel-default related_files">
  <div class="panel-heading">
    <h2>Files</h2>
  </div>
  <% unless @presenter.prevent_download.present? && @presenter.prevent_download == true %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>File</th>
          <th>Filename</th>
          <th>Date Uploaded</th>
          <th>Visibility</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render presenter.file_presenters %>
      </tbody>
    </table>
  <% end %>
  <% if @presenter.prevent_download.present? && @presenter.prevent_download == true %>
    <p class="center"><em>This <%= presenter.human_readable_type %> is not available for download</em></p>
  <% end %>
</div>
<% elsif can? :edit, presenter.id %>
  <h2>Files</h2>
  <p class="center"><em>This <%= presenter.human_readable_type %> has no files associated with it. You can add one using the "Attach a File" button below.</em></p>
<% end %>