<footer id="footer" class="container-fluid">
  <div id="footer-top-wrapper">
    <div id="footer-top" class="row">
      <div class="col-md-3">
	<h3>University Libraries</h3>
	<p>
	  <span>Campus Box 1061</span>
	  <br />
	  <span>One Brookings Dr.</span>
	  <br />
	  <span>St. Louis, MO 63130</span>
	  <br />
	  <a href="mailto:library.webmaster@wumail.wustl.edu">Contact Us</a>
	</p>
	<div class="social">
	  <a class="fa-icon" href="https://www.facebook.com/WUSTLlibraries" data-original-title="Facebook">
	    <i class="fa fa-facebook"></i>
	    <span class="screenreader-fallback-text">Share on Facebook</span>
	  </a>
	  <a class="fa-icon" href="http://twitter.com/WUSTLlibraries" data-original-title="Twitter">
	    <i class="fa fa-twitter"></i>
	    <span class="screenreader-fallback-text">Share on Twitter</span>
	  </a>
	  <a class="fa-icon" href="https://www.youtube.com/user/WUSTLibrarian/feed" data-original-title="YouTube">
	    <i class="fa fa-youtube"></i>
	    <span class="screenreader-fallback-text">Share on Youtube</span>
	  </a>
	  <a class="fa-icon" href="http://library.wustl.edu/feed/rss/" data-original-title="RSS">
	    <i class="fa fa-rss"></i>
	    <span class="screenreader-fallback-text">Get RSS feed</span>
	  </a>
	</div>
      </div>
      <div class="col-md-3">
	<h3>Popular Links</h3>
	<ul>
	  <li><a href="http://spokane.wustl.edu/patroninfo">My Catalog</a></li>
	  <li><a href="http://library.wustl.edu/services/ill/">Interlibrary Loan</a></li>
	  <li><a href="http://library.wustl.edu/research-instruction/subjectlibrarians/">Subject Librarians</a></li>
	  <li><a href="http://library.wustl.edu/services/circ/reservegroupstudy/">Reserve a Group Study Room</a></li>
	  <li><a href="http://library.wustl.edu/services/reserve/">Reserves</a></li>
	  <li><a href="http://library.wustl.edu/jobs/">Employment</a></li>
	  <li><a href="http://library.wustl.edu/services/forms/comments/">Comments</a>
	</li>
	</ul>
      </div>
      <div class="col-md-3">
	<h3>Chat with a Librarian</h3>
	<iframe id="iframe_2ab2ea6250cbb77127a680bf5dbdf897" name="iframe_2ab2ea6250cbb77127a680bf5dbdf897" title="Chat widget" src="http://v2.libanswers.com/chati.php?iid=163&amp;hash=2ab2ea6250cbb77127a680bf5dbdf897&amp;online=false&amp;referer_title=University%20Libraries%20%7C%20Washington%20University%20in%20St.%20Louis" frameborder="0" scrolling="no" style="border: 0px; box-sizing: border-box; width: 100%; height: 220px; background-color: rgb(249, 249, 249);"></iframe>
      </div>
      <div class="col-md-3">
	<h3>Give to the Libraries</h3>
	<a href="https://gifts.wustl.edu/GiftForm.aspx?brd=Libraries">
	  <img src="http://library.wustl.edu/wp-content/uploads/2015/03/CAM_Horz_CMYKplusCustRed_solid_pos.png" alt="" style="background:#fff; padding:5px" />
	</a>
      </div>
    </div>
  </div>
  <div id="footer-bottom-wrapper">
    <div id="footer-bottom" class="row">
      <div class="col-md-6 copyright">&copy;2016 Washington University in St. Louis</div>
      <div class="col-md-6 back-to-top">
	<a href="#" class="back-to-top">Back to Top</a>
	<a class="fa-icon" href="#" data-original-title="top">
	  <i class="fa fa-chevron-up"></i>
	  <span class="screenreader-fallback-text">Go to top</span>
	</a>
      </div>
    </div>
  </div>
</footer>
