<footer id="footer" class="container">
  <div id="footer-top" class="row">
    <div class="footer col-md-3">
      <h4>University Libraries</h4>
      <ul>
	<li>Phone: (314) 935-5400</li>
	<li>Fax: (314) 935-4045</li>
	<li>Campus Box 1061</li>
	<li>One Brookings Dr.</li>
	<li>St. Louis, MO 63130</li>
      </ul>
    </div>
    <div class="footer col-md-3">
      <h4>Popular Links</h4>
      <ul class="anchor">
	<li><a href="">My Library Accounts</a></li>
	<li><a href="">Interlibrary Loan</a></li>
	<li><a href="">Subject Librarians</a></li>
	<li><a href="">Reserve a Group Study Room</a></li>
	<li><a href="">Reserves</a></li>
      </ul>
    </div>
    <div class="footer col-md-3">
      <h4>Community</h4>
      <ul class="anchor">
	<li><a href="">Undergraduates</a></li>
	<li><a href="">Graduate Students</a></li>
	<li><a href="">Faculty &amp; Instructors</a></li>
	<li><a href="">Alumni &amp; Friends</a></li>
	<li><a href="">Visitors &amp; Other Users</a></li>
      </ul>
    </div>
    <div class="footer col-md-3">
      <h4>Ask Us!</h4>
      <p>We can be reached by<br>chat, email, text, or phone.</p>
    </div>
  </div>
  <div id="footer-bottom" class="row">
    <div class="footer col-md-10">&copy;2015 Washington University in St. Louis</div>
    <div class="footer col-md-2">
      <a href="#banner">Back to Top</a>
    </div>
  </div>
</footer>
