        <div class="container">
          <div id="title-bar" class="row">
            <div id="site-search" class="col-md-10">
              <%= render 'shared/site_search' if show_site_search? %>
            </div>
            <nav id="site-actions" class="col-md-2" role="menu">
              <%= render 'shared/site_actions' if show_site_actions? %>
            </nav>
          </div>
        </div>

