# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c8bf5ca645dbca1f1b0a8b328bdc805e562368d34449fb5af984c6d0ab4f08e1ce1fb274db009b9cf6561c848fb5569b429ba707c5234452cdaae349b3f707f6

test:
  secret_key_base: 23aa6c336c0971efd25e6cfb5441ee49ad76e71c04d19fe21d5949b4eef78f005315705a5dbd79edc73830d11eebf49144d7998cf869396be4feb6ce3c82b512

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
