body {
    padding: 0;
}
div#brand-bar-wrapper { 
    background-color: #a51417;
    background-image: none;
    border-bottom: none;
    border-top: #62121b 5px solid;
    padding: 0px 0px 5px 0px;
    margin: 0px;
}
div#product-bar-wrapper {
    background: transparent url(image-path('header-shield.svg')) scroll left center no-repeat;
    border: none;
    height: 135px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 70px;
}
div#product-bar-wrapper a {
    color: #000;
}
div#brand-bar div.university {
    margin: 0px;
    padding: 0px;
}
div#brand-bar div.university h1 {
    margin: 0px;
    padding: 0px;
}
div#title-bar-wrapper {
    padding: 5px 0px;
    background-color: #555;
    background-image: none;
    border: 0;
    margin: 0;
}
div#site-search form {
    margin: 0;
    padding: 0;
}
nav#site-actions {
    padding-top: 0;
}
footer#footer {
    margin: 30px 0 0 0;
    width: auto;
    text-align: left;
}
footer#footer ul {
    margin: 0;
    padding: 0;
}
footer#footer ul li {
    list-style-type: none;
}
footer#footer ul li a {
    color: #fff;
    text-decoration: underline;
}
footer#footer ul li a:hover {
    text-decoration: none;
}
div#footer-top {
    background-color: #555;
    padding: 25px 75px;
    color: #fff;
}
div#footer-bottom {
    background-color: #a51417;
    border-top: 5px solid #721218;
    padding: 15px 75px;
    color: #fff;
}
div#footer-bottom a {
    color: #fff;
    text-decoration: underline;
}
div#product-bar div.division h2 {
    font-size: 1.5em;
}
