{{ rails_environment }}:
  adapter: mysql2
  host: localhost
  database: {{ maria_avalon_rails_db }}
  username: {{ maria_avalon_rails_user }}
  password: {{ maria_avalon_rails_pass }}
  encoding: utf8
  reconnect: true
