#!/usr/bin/expect -f
set timeout 15
spawn java -jar {{ install_path }}/fcrepo-installer-3.6.2.jar
expect "*"
expect "*Installation type*==> $"
send "custom\r"
expect "*"
expect "*Fedora home directory*==> $"
send "{{ fedora_home }}\r"
expect "*"
expect "*password*==> $"
send -- "{{ fedora_pass }}\r"
expect "*"
expect "*host*==> $"
send -- "localhost\r"
expect "*"
expect "*context*==> $"
send -- "{{ fedora_context }}\r"
expect "*" 
expect "*API-A*==> $"
send -- "false\r"
expect "*"
expect "*SSL*==> $"
send -- "false\r"
expect "*"
expect "*engine*==> $"
send -- "existingTomcat\r"
expect "*"
expect "*Tomcat home*==> $"
send -- "{{ tomcat_home }}\r"
expect "*"
expect "*Tomcat HTTP port*==> $"
send -- "{{ tomcat_port }}\r"
expect "*"
expect "*Tomcat shutdown port*==> $"
send -- "8005\r"
expect "*"
expect "*Database*==> $"
send -- "mysql\r"
expect "*"
expect "*JDBC driver*==> $"
send -- "included\r"
expect "*"
expect "*Database username*==> $"
send -- "{{ maria_avalon_fedora_user }}\r"
expect "*"
expect "*Database password*==> $"
send -- "{{ maria_avalon_fedora_pass }}\r"
expect "*"
expect "*JDBC URL*==> $"
send -- "jdbc:mysql://localhost/fedora3?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true\r"
expect "*"
expect "*DriverClass*==> $"
send -- "com.mysql.jdbc.Driver\r"
expect "*"
expect "*upstream HTTP authentication*==> $"
send -- "false\r"
expect "*"
expect "*FeSL AuthZ*==> $"
send -- "false\r"
expect "*"
expect "*Policy enforcement*==> $"
send -- "false\r"
expect "*"
expect "*Low Level Storage*==> $"
send -- "akubra-fs\r"
expect "*"
expect "*Resource Index*==> $"
send -- "false\r"
expect "*"
expect "*Messaging*==> $"
send -- "false\r"
expect "*"
expect "*local services and demos*==> $"
send -- "true\r"
expect "*"
send_user "Fedora is being installed"
expect eof
