#!/bin/sh
# Startup script for Red5 flash streaming server on RedHat/CentOS (cPanel)
# chkconfig: 2345 95 55
# description: Red5 Flash Streaming Server
# processname: red5

PROG=red5
USER=red5
RED5_HOME={{ red5_home }}
DAEMON=$RED5_HOME/$PROG.sh
PIDFILE=/var/run/$PROG.pid

# Source function library
. /etc/rc.d/init.d/functions

[ -r /etc/sysconfig/red5 ] && . /etc/sysconfig/red5

RETVAL=0

case "$1" in
    start)
	echo -n $"Starting $PROG: "
	cd $RED5_HOME
	TMPPID=/tmp/$$.$PROG.pid
	runuser $USER -s /bin/bash -c "$DAEMON >/dev/null 2>/dev/null & echo \$! > $TMPPID"
	RETVAL=$?
	if [ $RETVAL -eq 0 ]; then
	    mv  $TMPPID $PIDFILE
	    touch /var/lock/subsys/$PROG
	fi
	rm -f $TMPPID
	[ $RETVAL -eq 0 ] && success $"$PROG startup" || failure $"$PROG startup"
	echo
	;;
    stop)
	echo -n $"Shutting down $PROG: "
	killproc -p $PIDFILE
	RETVAL=$?
	echo
	[ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/$PROG
	;;
    restart)
	$0 stop
	$0 start
	;;
    status)
	status $PROG -p $PIDFILE
	RETVAL=$?
	;;
    *)
	echo $"Usage: $0 {start|stop|restart|status}"
	RETVAL=1
esac

exit $RETVAL
