# This config file was created by Ansible
# development:
# test:
production:
  host:             {{ ezid_host }}
  port:             {{ ezid_port }}
  user:             {{ ezid_user }}
  password:         {{ ezid_password }}
  default_shoulder: {{ ezid_default_shoulder }}
